<%- include("partials/header"); -%>

<div class="container">
  <div class="row">
    <div class="col-lg-12 mx-auto mt-4">
      <div class="card shadow">
        <div class="card-header bg-dark">
          <h4 class="text-light text-center">About</h4>
        </div>
        <div class="card-body p-4">
          <p>This website is a library for articles in general. It is available for all users to add new articles, edit the old ones or remove articles.
            Users can publish either their own articles or their favorite authors'. As the number of articles grow, it will be more useful database for
            everybody.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer"); -%>
